<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="https://twitter.com/"><i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand"> &copy; WanderLust</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>

        </div>
    </div>
</footer> -->
<footer class="bg-dark text-light pt-4 mt-5">
    <div class="container">
        <div class="row text-center text-md-start">

            <!-- Branding & Socials -->
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase">WanderLust</h5>
                <p>Explore the world with comfort and confidence. Book unique stays and experiences around the globe.</p>
                <div class="f-info-socials d-flex gap-3 mt-3">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram fa-xl"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3 mb-4">
                <h6 class="text-uppercase fw-bold">Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="/listings" class="text-light text-decoration-none">Explore Listings</a></li>
                    <li><a href="/listings/new" class="text-light text-decoration-none">Host Your Place</a></li>
                    <li><a href="/about" class="text-light text-decoration-none">About Us</a></li>
                </ul>
            </div>

            <!-- Policies -->
            <div class="col-md-3 mb-4">
                <h6 class="text-uppercase fw-bold">Policies</h6>
                <ul class="list-unstyled">
                    <li><a href="/privacy" class="text-light text-decoration-none">Privacy Policy</a></li>
                    <li><a href="/terms" class="text-light text-decoration-none">Terms of Service</a></li>
                    <li><a href="/refunds" class="text-light text-decoration-none">Cancellation & Refunds</a></li>
                    <li><a href="/help" class="text-light text-decoration-none">Help Center</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-3 mb-4">
                <h6 class="text-uppercase fw-bold">Contact Us</h6>
                <p>Email: support@wanderlust.com</p>
                <p>Phone: +91-98765-43210</p>
                <p>Location: Bangalore, India</p>

                <!-- Optional App Links -->
                <div class="mt-3">
                    <a href="#"><img src="/images/appstore.png" alt="App Store" height="30"></a>
                    <a href="#"><img src="/images/playstore.png" alt="Play Store" height="30"></a>
                </div>
            </div>
        </div>

        <div class="text-center mt-3 border-top pt-3">
            <small>&copy; <%= new Date().getFullYear() %> WanderLust. All rights reserved.</small>
        </div>
    </div>
    <!-- Newsletter Signup -->
<section class="newsletter py-4 bg-light text-dark" data-aos="fade-up" data-aos-duration="1000">
  <div class="container text-center">
    <h5>Subscribe to our Newsletter</h5>
    <p>Get travel inspiration, tips, and exclusive offers delivered to your inbox.</p>
    <form id="subscribe-form" action="/subscribed" method="GET" class="w-100 d-flex flex-column align-items-center mt-3">
      <input type="email" class="form-control mb-3 w-50" placeholder="Enter your email" required />
      <button class="btn btn-success">Subscribe</button>
    </form>
  </div>
</section>



<!-- Floating Mobile Footer -->
<nav class="mobile-footer-nav d-md-none d-flex justify-content-around align-items-center py-2 bg-dark text-light fixed-bottom border-top">
  <a href="/" class="text-light text-center"><i class="fa-solid fa-house"></i><br><small>Home</small></a>
  <a href="/listings" class="text-light text-center"><i class="fa-solid fa-map-location-dot"></i><br><small>Explore</small></a>
  <a href="/listings/new" class="text-light text-center"><i class="fa-solid fa-plus-circle"></i><br><small>Host</small></a>
  <a href="/profile" class="text-light text-center"><i class="fa-solid fa-user"></i><br><small>Profile</small></a>
</nav>

</footer>
